node_modules/
backend/node_modules/
.env
backend/.env
*.log
backend/*.log
firebase-service-account.json
backend/firebase-service-account.json
serviceAccountKey.json
backend/serviceAccountKey.json
.firebase/
.DS_Store
client/
